{{#partial "content"}}
    <p>Walker:</p>
    <p>{{ walker.walkerName }}</p>
    <h5>Walker Registry:</h5>
    <br>
    <br>
    <p>
        <a href="/walkers/{{walker.id}}/update">Update this walker</a>
        <br>
        <a href="/walkers/{{walker.id}}/delete">DELETE this walker</a>
        <br>
        <a href="/walkers">Return to Registry</a>
    </p>


{{/partial}}

{{> layout.hbs}}